<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <title>Hierarchy</title>
</head>
<body>
    <div>
        <h1>Hi! Welcome to Hierarchy</h1>
        <p class="p1">Please upload an image to get a digital text</p>
        <form method="post" enctype="multipart/form-data">
            <div class="formImage">
                <input type="file" name="file">
            </div>
            <div class="formImage">
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
</body>
</html>